.container2 {
	height: 100vh;
}

.text-container-2 {
	margin-top: 10vh;
	margin-left: 20vw;
}

.images-container-2 {
	margin-left: 50vw;
}

.txt {
	color: #163437;
	width: 30vw;
}

.waves-image {
	clip-path: url(#wavesMask);
	width: 60%;
	aspect-ratio: 1 / 1;
}
